html(lang="ru")
  head
     style
      include dist/css/styles.css
      meta(charset="utf-8")
      title= "Учимся работать с шаблонизатором Pug"
  body
        header.header
         .header__top
          .container
           .header__logo
            a.logo 
             img(src="src/img/logo.png")
            .header__phone
               p Контактный телефон: 
               a 8 (985) 444 72 27
           
